@media all and (max-width: 768px) {
    
    h1 {
        font-size: rem(18);
    }

    p {
        font-size: rem(12);
    }

    header {
        img {
            width: rem(145);
            height: rem(47);
        }
        nav{
            width: 40%;
        }
    }

    a {
        font-size: rem(12)!important;
    }

    .banniere {
        height: rem(111);
        margin-bottom: rem(50);
            h1 {
                padding: rem(40);
                font-size: rem(24);
            }
    }

    #about {
        height: rem(233);
    }

    #box {
        width: 90%;
        background: none;
        flex-direction: column;
        padding: 0;
        margin: rem(20) auto;  
            a {
                width: 100%;
                margin: auto;  
            }       
    }
    
    #carte {
        height: rem(255);
            h2 {
                width: 84%;
        }
    }

    .slideshow{
        height: rem(255);
    }

    #presentation{
        flex-direction: column;
    }

    #droite{
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    #gauche {
        width: 100%;
    }
    
    #Stars{
        gap: rem(10);
        font-size: rem(13);
    }

    button {
        font-size: rem(13);
        height: rem(30);
            img {
                height: rem(8);
            }
    }

    #collapse {
        flex-direction: column;
        width: 100%;
        .collapse {
            width: 90%;
            margin: auto;
        }
    }
    .collapse {
        width: 100%;
    }
    
    .content{
        font-size: rem(12);
    }

    // page Error 

    #code {
        font-size: rem(95);
        margin: rem(50);
    }

    #description{
        font-size: rem(18);
        width: 90%;
        margin: rem(100);
    }

    #Error {
        a {
            width: 100%;
            text-align: center;
            margin: rem(50);
            margin-bottom: rem(150);
        }
    }
}
