@import "function.scss";

body {
  margin: 0;
  font-size: $base-font-size;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #FF6060;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "components/Home/Banniere.scss";
@import "components/Home/carte.scss";
@import "components/Header/header.scss";
@import "components/Header/nav.scss";
@import "components/footer/footer.scss";
@import "components/Fiche_Logement/Collapse/collapse.scss";
@import "components/Fiche_Logement/presentation/proprietaire.scss";
@import "components/Fiche_Logement/slider.scss";
@import "components/Fiche_Logement/presentation/tag.scss";

@import "pages/Error.scss";
@import "pages/fiche.scss";
@import "pages/home.scss";

@import "mediaQ.scss";

