#Error {
    display: flex;
    flex-direction: column;
    align-items: center;
        p {
            font-family: "Montserrat";
            color: #FF6060;
        }
        a {
            font-family: 'Montserrat';
            font-size: rem(18); 
            text-decoration: underline;
            margin: rem(180);
        }
}

#code {    
    font-weight: 700;
    font-size: rem(288);
    margin: 0;
}

#description {
    font-size: rem(36);
    font-weight: 500;
    text-align: center;
}