@import "../function.scss";

#presentation{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#tags {
    display: flex;
    gap: rem(10);
}

#gauche {
    width: 60%;
}

#collapse_logement {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
        .collapse {
            width: 45%;
        }
        .content {
            height: rem(150);
        }
        button, .content {
            width: 100%;
        }
}

@media all and (max-width: 768px) {
    #collapse_logement {
        flex-direction: column;
        width: 100% ;
        .collapse {
            width: 90% ;
            margin: auto;
        }
    }
}