@import "../function.scss";

#box{
    width: 83%;
    height: auto;
    background-color: #F7F7F7;
    border-radius: rem(20);
    margin: rem(20) auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(50);
    padding: rem(50);
}

@media all and (max-width: 768px) {
    #box {
        width: 90%;
        background: none;
        flex-direction: column;
        padding: 0;
        margin: rem(20) auto;  
            a {
                width: 100%;
                margin: auto;  
            }       
    }
}