#box{
    width: 83%;
    height: auto;
    background-color: #F7F7F7;
    border-radius: rem(20);
    margin: rem(20) auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(50);
    padding: rem(50);
}
