#box{
    width: 83%;
    height: auto;
    background-color: #F7F7F7;
    border-radius: 20px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 57px;
}


@media all and (max-width: 768px) {

    #box {
        width: 100%;
        background: none;
        flex-direction: column;
        padding: 0;
        margin: 20px auto;
        gap: 20px;
        
        a {
            width: 90%;
            margin: auto;  
        }
        
    }
    
    #banniere h1 {
        padding: 40px;
        font-size: 24px;
    }

    #carte {
        height: 255px;

        h2 {
            width: 84%;
        }
    }

}
