#banniere {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 250px;
    margin: auto;
    border-radius: 20px;
}

#banniere p{
    color: white;
    font-size: 48px;
}