@import "../../function.scss";

.banniere {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: rem(250);
    margin: auto;
    border-radius: rem(20);
    background-position: center !important;
    background-size: cover !important;
        h1 {  
        font-weight: 500;
        color: white;
        font-size: rem(48);
        }
}

.dark-mode {
    background-blend-mode: darken !important;
}

@media all and (max-width: 768px) {
    
    h1 {
        font-size: rem(18);
    }

    p {
        font-size: rem(12);
    }

    .banniere {
        height: rem(111);
        margin-bottom: rem(50);
            h1 {
                padding: rem(40);
                font-size: rem(24);
            }
    }

    #about {
        height: rem(233);
    }

}