#banniere {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: rem(250);
    margin: auto;
    border-radius: rem(20);
        h1 {  
        font-family: 'Montserrat';
        font-weight: 500;
        color: white;
        font-size: rem(48);
        }
}
