#box{
    width: 83%;
    height: auto;
    background-color: #F7F7F7;
    border-radius: 20px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 57px;
}