header h1 {
    color: orange;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 60px auto;
}

header img {
    width: 210px;
    height: 68px;
}