@import "../../function.scss";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: rem(60) auto;
        img {
            width: rem(210);
            height: rem(68);
        }
}

@media all and (max-width: 768px) {
    header {
        img {
            width: rem(145);
            height: rem(47);
        }
        nav{
            width: 40%;
        }
    }

    a {
        font-size: rem(12)!important;
    }
}