header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: rem(60) auto;
        img {
            width: rem(210);
            height: rem(68);
        }
}