

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 60px auto;

    img {
        width: 210px;
        height: 68px;
    }
}

@media all and (max-width: 768px) {

    header img {
        width: 145px;
        height: 47px;
    }
}