nav{
    display: flex;
    gap: rem(40);
}

a {
    text-decoration: none;
    font-size: rem(24);
    white-space: nowrap;    
    transition: transform 400ms; 
 
        &:hover {
            text-decoration: underline;
            transform: scale(1.15);  
        }
}