#droite {
    display: flex;
    flex-direction: column;
}

#photo {
    img{
        width: rem(65);
        height: rem(65);
        border-radius: rem(33);
        background-color: gray;
        object-fit: cover;
    }
}

#identite{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: rem(18);
}

#proprietaire{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

#Stars {
    display: flex;
    justify-content: space-evenly;
    margin-top: rem(10);
    font-size: rem(24);
    color: #E3E3E3
}