@import "../../../function.scss";

#Tag {
    p {
        color: white;
        width: auto;
        white-space: nowrap;
        padding: rem(3) rem(20);
        border-radius: rem(10);
        text-align: center;
        background-color: #FF6060;
    }
}