#footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    height: rem(150);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
        h1{
            margin-bottom: 0;
        }
        p{
            padding-bottom: rem(25);
        }
        img {
            width: rem(120);
            height: rem(40);
            margin-top: rem(65);
    }
}