#footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#footer h1{
    margin-bottom: 0;
}

#footer p{
    padding-bottom: 25px;
}