.App .content{
    width: 1023px;
}
.content {
    background-color: #F7F7F7;
    border-radius: 5px;
}

.content p {
    margin: 20px;
}
    
.content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.9s;
}
    
.content-show {
    display: flex;
    margin-bottom: 25px;
    position: relative;
    top: -17px;
    z-index: -1;
    list-style: none;
}
.content-show ul{
    list-style: none;
    padding-left: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    font-size: 24px;
    text-align: left; 
    height: 47px;
    border: none;
    border-radius: 5px;
    padding: 20px; 
    margin-bottom: 10px;   
}

.App button {
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.collapse{
    width: 90%;
}