.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(30);    
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    font-size: rem(24);
    text-align: left; 
    height: rem(47);
    border: none;
    border-radius: rem(5);
    padding: rem(20); 
    margin-bottom: rem(10);   
        .App & {
            width: 100%;
        }
}

.content {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: rem(5);
        p {
            margin: rem(20);
            color: #FF6060;
        }
}
   
.content-parent {
    height: rem(0);
    overflow: hidden;
    transition: height ease 0.9s;
}
    
.content-show {
    display: flex;
    margin-bottom: rem(25);
    position: relative;
    top: -17px;
    z-index: -1;
    list-style: none;    
        ul {
            list-style: none;
            padding-left: rem(20);
        }
}

.collapse{
    width: 90%;
}