#droite {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 15%;
}

#photo img{
    width: 65px;
    height: 65px;
    border-radius: 33px;
    background-color: gray;
    object-fit: cover;
}

#identite{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#proprietaire{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
}

#Stars {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 24px;
    color: #E3E3E3;
}

@media all and (max-width: 768px) {

    #droite{
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    #Stars{
        gap: 10px;
        font-size: 13px;
    }
}