#droite {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
}

#photo img{
    width: 65px;
    height: 65px;
    border-radius: 33px;
    background-color: gray;
    object-fit: cover;
}

#identite{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#proprietaire{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#Stars {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 24px;
    color: #FF6060;
}