.slider{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
}


.slideshow{
    position: relative;
    height: 415px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}


.btn-right, 
.btn-left{
    width: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-left{
    left: 30px;
}

.btn-right{
    right: 30px;
}

.show{
    display: flex;
    gap: 20px;
}

.show img{
    flex: 1;
    width: 20%;
    box-shadow: 0 2px 8px black;
    cursor: pointer;
}

.active{
    border: 2px solid #ffffff;
}