.slider{
    display: flex;
    flex-direction: column;
    gap: rem(20);
    width: 90%;
    margin: auto;
}


.slideshow{
    position: relative;
    height: rem(415);
    background-position: center;
    background-size: cover;
    border-radius: rem(20);
    transition: right 1s ;
}

@keyframes right {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes left {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(-1);
    }
}

.btn-right, 
.btn-left{
    width: 3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-left{
    left: rem(30);

}

.btn-right{
    right: rem(30);

}

.show{
    display: flex;
    gap: rem(20);
        img {
            flex: 1;
            width: 20%;
            box-shadow: 0 rem(2) rem(8) black;
            cursor: pointer;
        }
}

.active{
    border: rem(2) solid #ffffff;
}