#Tag {
    p {
    font-family: 'Montserrat';
    color: white;
    width: auto;
    white-space: nowrap;
    padding: 3px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #FF6060;
}
}