.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(30);    
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    font-size: rem(24);
    text-align: left; 
    height: rem(47);
    border: none;
    border-radius: rem(5);
    padding: rem(20); 
    margin-bottom: rem(10);  
    cursor: pointer;
        img {
            transition: 600ms;
        }
        .App & {
            width: 100%;
        }    
}

.content {
    background-color: #F7F7F7;
    height: rem(0);
    overflow: hidden;
    display: flex;
    margin-bottom: rem(25);
    position: relative;
    top: -17px;
    z-index: -1;
    list-style: none;
    max-height: 200px;
    transition: height 600ms;
        ul {
            list-style: none;
            padding-left: rem(20);
            line-height: rem(20);
        }
        p {
            margin: rem(20);
        } 
}

.collapse{
    width: 90%;
    
}

.rotate {
transform: rotate(180deg);
}
