.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(30);    
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    font-size: rem(24);
    text-align: left; 
    height: rem(47);
    border: none;
    border-radius: rem(5);
    padding: rem(20); 
    margin-bottom: rem(10);  
    cursor: pointer;
        .App & {
            width: 100%;
        }    
}

.content {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: rem(5);
        p {
            margin: rem(20);
        }
}
   
.content-parent {
    height: rem(0);
    overflow: hidden;
}
    
.content-show {
    display: flex;
    margin-bottom: rem(25);
    position: relative;
    top: -17px;
    z-index: -1;
    list-style: none;
    max-height: 200px;
    transform-origin: center top;
    ul {
        list-style: none;
        padding-left: rem(20);
    }
}
.content-open{
    animation: open 0.65s ease-in-out;
}

.content-close {
    animation: close 0.65s ease-in-out;
}
.collapse{
    width: 90%;
    
}

@keyframes open {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes close {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

