@import "../../../function.scss";

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(30);    
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    font-size: rem(24);
    text-align: left; 
    height: rem(47);
    border: none;
    border-radius: rem(5);
    padding: rem(20); 
    margin-bottom: rem(10);  
    cursor: pointer;
        img {
            transition: transform 1s;
        }
        .App & {
            width: 100%;
        }    
}

.content {
    background-color: #F7F7F7;
    overflow: hidden;
    display: flex;
    margin-bottom: rem(25);
    position: relative;
    z-index: -1;
    list-style: none;
    max-height: 200px;
    transition: all 1s;
        ul {
            list-style: none;
            padding-left: rem(20);
            line-height: rem(26);
        }
        p {
            font-size: rem(24);
            margin: rem(20);
            line-height: rem(34);
        } 
}

.collapse{
    width: 90%;
    overflow: hidden;
    
}

.rotate {
transform: rotate(-180deg);
}


@media all and (max-width: 768px) {

    .App{
        .collapse{
            width: 100%;
        }
    }
    
    button {
        font-size: rem(13);
        height: rem(30);
            img {
                height: rem(8);
            }
    }

    .content{
      
        font-size: rem(12);
            p, ul {
                margin-top: 1.25rem;
                font-size: rem(12);
                line-height: rem(17);
            }
    }
    
}